:host /deep/ .tree-node-level-2 .node-wrapper .toggle-children-placeholder {
  display: block;
  width: 17px;
  height: 20px;
  background-image: url('/assets/img/folder-close.svg');
  opacity: 0.7;
}
:host /deep/ .tree-node-level-3 .node-wrapper .toggle-children-placeholder,
:host /deep/ tree-node:last-child .tree-node-level-1 .tree-node-level-2 .toggle-children-placeholder {
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('/assets/img/arrow.svg');
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

:host /deep/ .tree-node-level-2 tree-node:nth-child(3n) .node-wrapper .toggle-children-placeholder,
:host /deep/ tree-node:last-child .tree-node-level-1 tree-node:nth-child(3) .tree-node-level-2  .toggle-children-placeholder,
:host /deep/ tree-node:last-child .tree-node-level-1 tree-node:nth-child(5) .tree-node-level-2  .toggle-children-placeholder,
:host /deep/ tree-node:last-child .tree-node-level-1 tree-node:nth-child(6) .tree-node-level-2  .toggle-children-placeholder {
  display: block;
  width: 20px;
  height: 18px;
  background-image: url('/assets/img/parking.svg');
  background-repeat: no-repeat;
  transform: none;
  padding-top: 3px;
}

:host /deep/ tree-node:nth-last-child(2) .tree-node-level-1 .toggle-children,
:host /deep/ tree-node:nth-last-child(3) .tree-node-level-1 .toggle-children {
  background-image: url('/assets/img/people.svg');
}
