.main__burger {
  position: absolute;
  z-index: 1;
  top: 40px;
  left: 60px;
}

.burger__toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border-color: black;
  //margin-left: 100px;
  //margin-top: 50px;
  position: absolute;
  top: -24px;
  left: -26px;
}

.burger__toggle:hover {
  background-color: #2196f3;
  border-color: transparent;
  .burger__svg {
    fill: white;
  }
}

.burger__mes {
  position: absolute;
  width: 27px;
  height: 24px;
  border-radius: 50%;
  background-color: #e74c3c;
  color: #fff;
  padding-top: 2px;
  top: -9px;
  left: 38px;
}

.burger__svg {
  fill: #262d36;
  padding-top: 4px;
}

.burger__svg--close {
  display: none;
}

.burger__svg-cross {
  padding-top: 4px;
  fill: #262d36;

  &:hover {
    fill: black;
  }
}
