.menu__btn {
  text-align: center;
}

.menu__exit {
  border: none;
  background-color: #eceff1;
  min-width: 308px;
  min-height: 40px;
  border-radius: 13px;
  margin-top: 15px;
  margin-bottom: 30px;
}

