.menu__option {
  margin-top: 0;
  margin-bottom: 0;
  //padding-top: 16px;
  margin-left: 60px;
  width: 100%;
  min-height: 380px;
}

.menu__wrapper {
  display: flex;
  flex-direction: row;
  min-height: 280px;
}

.menu__logo-wrapper {
  display: flex;
  justify-content: center;
  color: #eceff1;
  font-size: 18px;
  line-height: 18px;
}

.menu__logo {
  color: #eceff1;
  font-size: 18px;
  line-height: 18px;
}

.menu__components {
  border-left: 1px solid #eceff1;
}

.components__list {
  display: flex;
  min-height: 280px;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.components__item:not(:last-child) {
  border-bottom: 1px solid #eceff1;
  width: 100%;
  padding-bottom: 12px;
  padding-top: 9px;
}

.components__input {
  width: 90%;
  border: none;
  min-height: 22px;
}

.components__switch {
  position: relative;
  min-height: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  //left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 60px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 19px;
  left: 9px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.components__item:last-child {
  display: flex;
  flex-direction: column;
  min-height: 210px;
  justify-content: flex-end;
  text-align: center;
}
