.main__container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  border-radius: 22px;
}

.main__placeholder {
  position: absolute;
  z-index: 1;
  margin: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.main__pop-up-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.pop-up-close {
  display: none;
}

//.ymaps-2-1-60-image:hover {
//  width: 400px;
//  height: 400px;
//
//}

.pop-up {
  position: absolute;
  z-index: 1;
  margin: 0;
  left: 0;
  top: -355px;
  transform: translateX(-50%);
}

.pop-up__title {
  background-color: #2196f3;
  color: #fff;
  width: 401px;
  border-radius: 22px 22px 0 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.pop-up__text,
.pop-up__sub {
  padding-left: 50px;
  margin: 0;
}

.pop-up__text {
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.pop-up__sub {
  font-size: 14px;
  line-height: 16px;
  font-weight: lighter;
  opacity: 0.6;
}

.pop-up__info {
  padding-left: 0;
  margin: 0;
  position: relative;
}


.info__item--active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__item {
  display: flex;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.info__item:not(:first-child) {
  border-top: 2px solid #eceff1;
}

.info__text {
  color: #607d8b;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info__desc {
  color: #263238;
}

.pop-up__info:after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.info__svg {
  position: absolute;
}
