.menu__form {
  display: flex;
  flex-direction: column;
}

.menu__list {
  padding: 0;
  margin-top: 0;
}

.menu__name {
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eceff1;
}

.menu__title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
}

.menu__sub {
  font-size: 14px;
  line-height: 16px;
  color: #607d8b;
}

//.menu__item:nth-child(1) {
//  margin-bottom: 40px;
//}

.menu__item:hover {
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.menu__set {
  border: none;
  background-color: transparent;
}

.menu__item {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

//.menu__item:last-child {
//  margin-top: 20px;
//  justify-content: center;
//}

.menu__item {
  border-bottom: 1px solid #eceff1;
}

.menu__num {
  border-radius: 40%;
  min-width: 40px;
  border: none;
  background-color: #e74c3c;
  color: white;
  font-size: 14px;
  padding-top: 0;
  min-height: 23px;
}

.menu__tasks {
  border-radius: 40%;
  min-width: 40px;
  border: none;
  background-color: #ffc107;
  color: white;
  font-size: 14px;
  padding-top: 0;
  min-height: 23px;
}

.menu__exit {
  border: none;
  background-color: #eceff1;
  min-width: 308px;
  min-height: 40px;
  border-radius: 13px;
}

.burger__menu--close {
  display: none;
}

.set {
  width: 100%;
  text-align: left;
}
