.main__burger {
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 120px;
}

.burger__toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  border-color: transparent;
  //margin-left: 100px;
  //margin-top: 50px;
  position: relative;
}

.burger__toggle:hover {
  background-color: #2196f3;
  .burger__svg {
    fill: white;
  }
}

.burger__mes {
  position: absolute;
  width: 27px;
  height: 24px;
  border-radius: 50%;
  background-color: #e74c3c;
  color: #fff;
  padding-top: 2px;
  top: -9px;
  left: 38px;
}

.burger__svg {
  fill: #262d36;
}